body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/farmer.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); /* Blurs the background */
     z-index: -1; /* Places the background behind other content */
  } 

.container {
    background: transparent;
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1, h2 {
    color: #4CAF50;
}

p {
    font-size: 18px;
    color: #f3eeee;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
